html
    head
        title OhanaMeans: Big Brother

        // Important information
        meta(name="author", content="KikePuma")
        // Website encoding
        meta(name="description", content="A NodeJS + Express and Pug Website")
        // Let browser know website is optimized for mobile
        meta(name="viewport", content="width=device-width, initial-scale=1")

        // Import Google Icon Font
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        // CSS Stylesheets
        link(href="https://www.w3schools.com/w3css/4/w3.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css", rel="stylesheet")
    
    body
        h1 Mandaste el siguiente nombre: #{name}