extends ./layout.pug

block source_code

    // Information about the target
    div(class="w3-display-middle")
        div(class="row")
            div(class="col")
                form(action="/searching" method="POST")
                    // Text Boxs
                    div(class="input-field")
                        input(id="mysteriousperson" name="mysteriousperson" type="text" class="validate")
                        label(for="mysteriousperson" style="color: var(--pallete-2);") Mysterious Name
                    // Buttons
                    button(class="btn waves-effect" style="background-color: var(--pallete-3);") Search
                        i(class="material-icons right") search

block styles
    style.

        .input-field input[type=text] {
            border-bottom: 1px solid var(--pallete-1) !important;
            box-shadow: 0 1px 0 0 var(--pallete-2) !important;
        }
        .input-field input[type=text]:focus {
            border-bottom: 1px solid var(--pallete-3) !important;
            box-shadow: 0 1px 0 0 var(--pallete-4) !important;
        }