extends ./layout.pug

block source_code

    // Information about the target
    div(class="w3-display-middle")
        div(class="row")
            div(class="col")
                form(action="/searching", method="POST")
                    // Text Boxs
                    div(class="input-field")
                        input(id="mysterious-person", name="mysterious-person", type="text")
                        label(for="mysterious-person") Mysterious Person or Corporation
                    br
                    // Buttons
                    button(class="btn waves-effect") Search
                        i(class="material-icons right") search