// Use layout
extends ./layout.jade

// Write source_code
block source_code

    // Information about the target
    div(class="w3-display-middle")

        form(action="/", method="POST")
            // Text Boxs
            div(class="input-field")
                input(id="name", name="name", type="text")
                label(for="name") Name
            button(class="btn waves-effect") Search
                i(class="material-icons right") search