extends ./layout.pug

block metatags
    //- Redirect
    meta(http-equiv="refresh", content="3,url=/information/twitter")

block styles

    // Create loader in CSS
    style.

        .w3-display-middle {
            padding-right: 300 px;
        }
        .loader {
            border: 8px solid var(--palette-1);
            border-radius: 50%;
            border-top: 8px solid var(--palette-4);
            width: 61px;
            height: 60px;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
            opacity: 0.5;
            }
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            50% { -webkit-transform: rotate(360deg); }
            100% { -webkit-transform: rotate(0deg); }
            }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            50% { transform: rotate(360deg); }
            100% { transform: rotate(0deg); }
        }    

block source_code
    div(class="w3-display-middle")    
        div(style="float:right; padding-right: 15px; padding-bottom: 30px;")
            div(class="loader")